[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
Click = ">=7.1.2"

[dev-packages]
setuptools = ">=53.0.0"
black = ">=20.8b1"
flake8 = "*"
isort = ">=5.7.0"
flake8-isort = ">=4.0.0"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
bump2version = ">=1.0.1"
watchdog = ">=0.10.3"
tox = ">=3.20.1"
coverage = ">=5.3"
twine = ">=3.3.0"
pytest-runner = ">=5.2"
sphinx = ">=3.3.0"
pylint = "*"
tomlkit = ">=0.7.0"
requests = "*"
BeautifulSoup4 = "*"
html5lib = "*"
