name: misspell

on:
    schedule:
        - cron: "0 0 * * *"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: crate-ci/typos@v1.19.0
              with:
                  format: json
                  exit-code: 0

            - uses: peter-evans/create-pull-request@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  commit-message: "Fix typos"
                  title: "Fix typos"
                  body: |
                      Automated typo fixes by [typos](https://github.com/crate-ci/typos)
                  branch: fix-typos
                  base: master
                  labels: |
                      automated pr
                      typo
