name: Publish docker image

on:
    push:
        tags: "v*"

jobs:
    github-docker:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   uses: whoan/docker-build-with-cache-action@v5
                with:
                    registry: docker.pkg.github.com
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}
                    image_name: topalias

    docker-hub:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@master
            -   name: Publish to Registry
                uses: elgohr/Publish-Docker-Github-Action@master
                with:
                    name: csredrat/topalias
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}
